body {
    background-image: url("https://media0.giphy.com/media/U3qYN8S0j3bpK/giphy.gif?cid=ecf05e47023r8skxoo1v45inbcckzak85b2tfy80c4ndeeox&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
} 

header {
    margin-top: 20px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 3.6rem;
    color: #8F00FF;
    text-shadow:
      0 0 7px #8F00FF,
      0 0 10px #8F00FF,
      0 0 21px #8F00FF,
      0 0 42px #8d05f5,
      0 0 82px #8d05f5,
      0 0 92px #740ec2,
      0 0 102px #740ec2,
      0 0 151px #740ec2;
}

#title-text {
    color: rgb(40, 150, 150);
    font-family: 'Roboto Mono', monospace;
}

img {
    object-fit: scale-down;
}

.image-gallery {
    padding-top: 20px;
}

.image-gallery img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 2%;
    object-fit: cover;
}

.secondary-image-gallery img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2%;
    object-fit: cover;
}

.slider section {
    margin-top: none;
}

.slider img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.article-item {
    color: rgb(235, 218, 218);
    background-color: rgb(15, 15, 15);
    padding: 15px 15px;
    border-radius: 2%;
}

footer {
    color: rgb(243, 208, 208);
    background-color: rgb(33, 14, 102);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px 30px;
    border-radius: 2%;
    opacity: 0.95;
}
footer img {
    margin-left: none;
    object-fit: cover;
}

